.logoutTab{
	text-align:right;
	margin-right:5%;
	margin-top:-40px;
}
#tabOps{
	visibility:hidden;
}
li{
	list-style-type:none;
	color:#1F1F2E;
}
li ul{
	/*display:none;*/
	display:inline-block;
}
a{
	color:black;
	text-decoration:none;
	/*display:inline;*/
	/*margin-right:20%;*/
}
li span:hover{
	color:blue;
	cursor:pointer;
}
span:hover{
	color:blue;
	cursor:pointer;
}
li ul li:hover{
	color:blue;
}